@page
@model Proyecto.App.Presentacion.Pages.FormularioClienteModel


@{  
    <title>AirFree</title>
    <!--<link rel="stylesheet" href="EstiloFormulario.css">-->
    <h1 class = domiciliosairfree>Domicilios AirFree </h1>
    <table style= "width: 40%;">
            <tr>
                <td style="background-color:dodgerblue;">
                    <h3>Servicios Virtuales</h3>
                    <h4>probando git</h4>
                </td>
            </tr>

            <tr>
                <td class="frame_form">
                    <h3 class="titulo">Registro Cliente</h3>
                    <h4 class="titulo">Datos Personales </h4>
                    <form>
                        
                        <label class="subtitulo" for="nombre">Nombre</label> <br>
                        <input class ="textfield" type="text" id="nombre "> <br> <br>        
                        <label class="subtitulo" for="apellido">Apellido</label> <br>
                        <input class ="textfield" type="text" id="apellido "> <br> <br>  
                        <label class="subtitulo" for="direccion">Direccion</label> <br>
                        <input class ="textfield" type="text" id="direccion "> <br> <br>  
                        <label class="subtitulo" for="telefono">Telefono</label> <br>
                        <input class ="textfield" type="text" id="telefono "> <br> <br> 
                        <label class="subtitulo" for="correo">Correo</label> <br>                
                        <input class ="textfield" type="text" id="correo "> <br> <br> 
                        <label class="subtitulo" for="edad">Edad</label> <br>
                        <input class ="textfield" type="text" id="edad "> <br> <br> 
                                   <input class ="radios"  type="radio" name="_selectgenero" id="generoFemenino" value="Femenino">
                        <label class="subtitulo" for="Femenino">Femenino</label>
                        <input class ="radios" type="radio" name="_selectgenero" id="generoMasculino" value="Masculino">
                        <label class="subtitulo" for="Masculino">Masculino</label> <br>
                        <p style="font-style:oblique ;">¿Deseas adquirir nuestra membresia? <br>
                            Podras disfrutar del 10% de descuento  <br>
                            en todas tus compras...                         </p> 
                    </form>   
                        <form action="">
                            <input class="radios" type="radio" name="_selectmembresia" id="membresia_si" value="si">
                            <label for="Si">Si</label>
                            <input class="radios" type="radio" name="_selectmembresia" id="membresia_no" value="no">
                            <label for="No">No</label> <br> <br>
                    
                            <input class= "boton" type="submit" value= " Registrar "> <br> <br>      <br>              
                        </form>
                </td>
            </tr>
    </table>
}

