@page
@model Proyecto.App.Presentacion.Pages.FormularioClienteModel
@{  }
 <body>
    <title>Editar Cliente</title>
    <H1>EDITAR CLIENTE </H1>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
       <div class="col-md-4">
                <label for="validationNombre" class="form-label "></label>
                <input type="text" class="form-control control" id="validationNombre" placeholder="Nombre" required>
        </div>
        <div class="col-md-4">
                <label for="validationNombre" class="form-label "></label>
                <input type="text" class="form-control control" id="validationApellido" placeholder="Apellido" required>
        </div>
        <div class="col-md-4">
                <label for="validationNombre" class="form-label "></label>
                <input type="text" class="form-control control" id="validationDireccion" placeholder="Direccion" required>
        </div>
        <div class="col-md-4">
                <label for="validationNombre" class="form-label "></label>
                <input type="text" class="form-control control" id="validationTelefono" placeholder="Telefono" required>
        </div>
         <div class="col-md-4">
                <label for="validationNombre" class="form-label "></label>
                <input type="text" class="form-control control" id="validationCorreo" placeholder="Correo" required>
        </div>
         <div class="col-md-4">
                <label for="validationNombre" class="form-label "></label>
                <input type="text" class="form-control control" id="validationEdad" placeholder="Edad" required>
        </div>

        <br>


        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Femenino" checked>
            <label class="form-check-label" for="exampleRadios1">
                    Femenino
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="Masculino">
            <label class="form-check-label" for="exampleRadios2">
                    Masculino
            </label>
        </div>  

         <p style="font-style:oblique ;">¿Deseas adquirir nuestra membresia? <br>                         


        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios1" value="Si" checked>
            <label class="form-check-label" for="exampleRadios1">
                    Si
            </label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="No">
            <label class="form-check-label" for="exampleRadios2">
                    No
            </label>
        </div>              

        <td>


</td>

</body>

